
<div class="spx-card">
  <div
    class="spx-card__img"
    [attr.data-title]="dataTitle"
    [attr.data-desc]="dataDesc"
  >
    <!-- // make this optional -->
    <!-- // if no image bg color used -->
    <img
      [attr.src]="cardImg"
      alt="Card Image"
    >
  </div>
  <div class="spx-card__content">
    <div class="spx-c-info">
      <p>
        {{cardText}}
      </p>
    </div>
    <div class="spx-c-action">
      <button class="spx-btn spx-btn--pr spx-btn--sm" (click)="primaryActionClick()">Click me</button>
      <button class="spx-btn spx-btn--pr--inverted spx-btn--circle spx-btn--sm" data-icon="check"></button>
    </div>
  </div>
</div>
