$header: 54px;
$gblue: #4285f4;

.app {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: white;
  display: flex;
  flex-flow: column nowrap;
}

// HEADER
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: $header;
  padding: 6px 12px;
  background: $gblue;
  color: white;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
  transition: padding .3s ease, height .5s ease;
  z-index: 1;

  &.top-offset {
    padding: 6px 24px;
    height: 24px;
  }

  &__menu {
    flex: 0 0 auto;
    margin-right: 12px;

    .spx-btn {
      line-height: 2;
    }
  }

  &__logo {
    flex: 1;
    font-size: 1.3rem;
    font-weight: 300;
  }

  &__links {
    color: black;
  }
}

// MAIN
.app-main {
  flex: 1;
  background: #f2f2f2;
  overflow-y: scroll;
}

.app-main-links {
  padding: 24px;
  display: flex;
  justify-content: space-around;

  &__el {
    flex: 0 0 28%;
    max-width: 28%;
  }
}

// FOOTER
.app-footer {
  padding: 12px;
  background: $gblue;
  color: white;
  text-align: center;
  box-shadow: 0px -2px 3px rgba(0,0,0,0.4);
  z-index: 1;

  p {
    font-size: .75rem;
  }
}

code[code-display] {
  font-size: 12px;
}
