$header: 54px;

.app {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: white;
  display: flex;
  flex-flow: column nowrap;
}

// HEADER
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: $header;
  padding: 6px 12px;
  background: white;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4);
  transition: padding .3s ease, height .5s ease;
  z-index: 1;

  &.top-offset {
    padding: 6px 24px;
    height: 24px;
  }

  &__logo {
    flex: 1;
    font-size: 1.3rem;
    font-weight: 300;
    color: black;
  }

  &__links {
    color: black;
  }
}

// MAIN
.app-main {
  flex: 1;
  background: #393939;
  overflow-y: auto;
}

.app-main-links {
  padding: 24px;
  display: flex;
  justify-content: space-around;

  &__el {
    flex: 0 0 28%;
    max-width: 28%;
  }
}

// FOOTER
.app-footer {
  padding: 12px;
  background: white;
  text-align: center;
  box-shadow: 0px -2px 3px rgba(0,0,0,0.4);
  z-index: 1;

  p {
    font-size: .75rem;
  }
}

code[code-display] {
  font-size: 12px;
}

$gdf-main-color: #d07828;
// gdf styles
.gdf-main-base {
  padding: 12px 48px;

  & > p {
    color: white;
    line-height: 1.7;
    margin-bottom: 12px;
  }
}

.gdf-main-title {
  color: $gdf-main-color;
  font-weight: 100;
}

.gdf-csnippet {
  margin: 24px auto;
  border-radius: 24px;
  overflow: hidden;

  &__title {
    padding: 6px 12px;
    color: white;
    border: 1px solid white;
    border-radius: 24px 24px 0 0;

    & > span {
      font-size: .7rem;
    }
  }
}

.gdf-steps-title {
  width: 300px;
  background: $gdf-main-color;
  // clip-path: polygon(100% 100%, 75% 75%, 5% 5%, 100% 0%);
}

popup-info {
  display: block;
  width: 30px;
  height: 20px;
  background: red;
}
jason-button {
  display: block;
  width: 200px;
  height: 24px;
  background: blue;
}
