// GDF APP CODE
$gdf-main-color: #d07828;
.gdf-main-base {
  padding: 12px 48px;

  & > p {
    line-height: 1.7;
    margin-bottom: 12px;
  }

  & > ul {
    ul {
      li {
        margin: 0 0 24px 24px;
      }
    }
  }
}

.gdf-home-page {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  height: 80vh;
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-weight: 300;
  }

  .gdf-home-img {
    flex: 1;
  }
}

.gdf-main-title {
  color: $gdf-main-color;
  font-weight: 100;
}

.gdf-csnippet {
  margin: 24px auto;
  border-radius: 24px;
  overflow: hidden;

  &__title {
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 24px 24px 0 0;

    & > span {
      font-size: .7rem;
    }
  }
}

.gdf-steps-title {
  width: 300px;
  background: $gdf-main-color;
}

popup-info {
  display: block;
  width: 30px;
  height: 20px;
  background: red;
}
jason-button {
  display: block;
  width: 200px;
  height: 24px;
  background: blue;
}
