<div class="app">

  <header class="app-header">

    <div class="app-header__menu">
      <button
        class="spx-btn spx-btn--pr spx-btn--circle spx-btn--sm"
        data-icon="menu"
        (click)="toggleSidenav()"
      ></button>
    </div>

    <div class="app-header__logo">
      Web Components
    </div>
    <div class="app-header__links">
      <!-- <span [routerLink]="['/welcome']">GDF</span> -->
      <img src="../images/devfestmn.caf3a594.svg" alt="google devfest logo" style="width: 60px">
    </div>

  </header>

  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <p>GDF 2018 - Web Components - Jason Jacobson</p>
  </footer>

</div>

<app-side-nav
  [class.is-open]="sideNavIsOpen"
></app-side-nav>
