<jason-button name="rocking" [attr.jason]="control"></jason-button>

<div class="gdf-main-base">
  <h1 class="gdf-main-title">TODO:::</h1>
  <ul>
    <li>Finalize talk and elements to create</li>
    <li>
      Create one of the elements as pure web component to showcase this

      <ul>
        <li>Components to make:::</li>
        <li>Card</li>
        <li>Gmail bar</li>
        <li>Slideshow</li>
        <li>devfest logo</li>
        <li>svg jason</li>
      </ul>
    </li>
    <li>Show testing of Angular Component</li>
    <li>Create Component for the slide show presentation</li>
    <li>Create Jason SVG for waving hand and any other cool things to make him do</li>
  </ul>
</div>

<!-- <div class="gdf-main-base">
  <h1 class="gdf-main-title">Welcome to Google Devfest 2018</h1>
  <p>My name is Jason Jacobson and I am a front end developer/engineer.</p>
  <p>I have a strong passion for UI and CSS and creating awesome experiences.</p>
  <p>This is my presentation on Web Components, and why I think they are awesome.</p>
  <p>
    I am going to talk and walk through creating these inside of Angular 2+, but any of the ideas
    can be applied to your favorite framework when web components are supported.
  </p>
  <p>
    With frameworks creating components has never been easier, so lets walk through creating 3 components
    and using them in 2 pages.
  </p>
  <p>
    If you are following along click the Steps card below or else you can click on the other cards to see the final pages.
  </p>
</div> -->

<div class="app-main-links">
  <div class="app-main-links__el">
    <app-card
      dataTitle="Karma Rx"
      dataDesc="Super hot pussy"
      cardImg="https://i.pinimg.com/originals/a6/ce/d3/a6ced3367fcbff5b1c04faca61cf98eb.jpg"
    ></app-card>
  </div>
  <div class="app-main-links__el">
    <app-card
      dataTitle="Karma Rx"
      dataDesc="Super hot pussy"
      cardImg="https://images-cdn.9gag.com/photo/aW80nZn_700b.jpg"
    ></app-card>
  </div>
</div>

<div class="gdf-main-base">
  <div class="gdf-csnippet">
    <div class="gdf-csnippet__title">
      <span>app-card.component.html</span>
    </div>
  <pre class="prettyprint">
<code code-display>
  <div class="spx-card">
  </div>
</code>
  </pre>
  </div>
</div>
