<div>
  <h1>Welcome to Google Devfest 2018.</h1>
  <p>My name is Jason Jacobson and I am a front end developer/engineer.</p>
  <p>I have a strong passion for UI and CSS and creating awesome experiences.</p>
  <p>This is my presentation on Web Components, and why I think they are awesome.</p>
  <p>
    I am going to talk and walk through creating these inside of Angular 2+, but any of the ideas
    can be applied to your favorite framework when web components are supported.
  </p>
  <p>
    With frameworks creating components has never been easier, so lets walk through creating 3 components
    and using them in 2 pages.
  </p>
  <ul>
    <li>Cards</li>
    <li>Accordions</li>
    <li>Calendar(Advanced)</li>
  </ul>
  <p>
    If you are following along click the Steps card below or else you can click on the other cards to see the final pages.
  </p>
</div>

<div class="app-main-links">
  <div class="app-main-links__el">
    <app-card></app-card>
  </div>
  <div class="app-main-links__el">
    <app-card></app-card>
  </div>
  <div class="app-main-links__el">
    <app-card></app-card>
  </div>
</div>
